:root {
  --app-color: rgb(101, 150, 206);
  --app-light-color: rgb(57, 106, 161);
  --primary-color: black;
  --secondary-color: lightgray;
  --primary-text-color: #007bff;
  --secondary-text-color: rgb(185, 177, 177);
  /* --accent-text-color:rgb(185, 177, 177); */
}

body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
}

.main-wrap {
  min-height: calc(100vh - 130px);
}

